# --- AsciiDoc / Asciidoctor Build Outputs ---
*.pdf
*.epub
*.mobi
*.xml

# --- Antora & Tooling Caches ---
/.asciidoctor/
/node_modules/
/build/
/.cache/
/dist/
/out/
/target/

# --- IDE & Editor Settings ---
.vscode/
.idea/

# --- System Files ---
.DS_Store
Thumbs.db
Desktop.ini

# --- Environment & Local Configs ---
_secret.yml
.env
.secrets

migration
