<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1">

<title>ODISC: {{TITLE}}</title>
    <link rel="stylesheet" href="{{ROOT}}resources/css/reset.css">
    <link rel="stylesheet" href="{{ROOT}}resources/css/layout.css">
    <link rel="stylesheet" href="{{ROOT}}resources/css/navigation.css">
    <link rel="stylesheet" href="{{ROOT}}resources/css/typography.css">
    <link rel="stylesheet" href="{{ROOT}}resources/css/colors.css">
</head>

{{CSS}}

{{HEADER}}

{{BREADCRUMBS}}

{{NAVIGATION}}

{{CONTENT}}

{{FOOTER}}
